* {
    text-align: center;
}

li {
    list-style-type: none;
}

.russian-flag {
    height: 100vh;
    background: linear-gradient(to bottom,
                rgba(255, 255, 255, 0.6) 33.33%,
                rgba(0, 0, 255, 0.6) 33.33% 66.66%,
                rgba(255, 0, 0, 0.6) 66.66%);
}